<header>
   <h1>Inicio</h1>
</header>
<main>
   <section>
      <h3>Productos</h3>
      <button class="btn-create-cart" id="btn-create-cart">Crear Carrito</button>
      <div id="products-list"></div>
      <button id="btn-refresh-products-list">Recargar Lista de Productos</button>
      <button class="btn-create-cart" id="btn-view-cart">Ver Carrito</button>
      <div id="pagination">
         <button id="btn-prev-page">Página Anterior</button>
         <span id="current-page">Página: 1</span>
         <button id="btn-next-page">Página Siguiente</button>
      </div>
   </section>
</main>
<script src="/api/public/js/products.js"></script>